{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": ["@typescript-eslint"],
  "env": {
    "es2020": true,
    "node": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      { "argsIgnorePattern": "^_" }
    ],
    "no-console": "warn"
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": [
      "./tsconfig.json",
      "./demo/tsconfig.json",
      "./react-css-marquee/tsconfig.json"
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
