body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.wrapper-vertical {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.wrapper-horizontal {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.horizontal-marquee {
  width: 100%;
}

.vertical-marquee {
  align-self: center;
  margin: auto;
  width: 25%;
  height: 100%;
}