body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.horizontal-wrapper,
.vertical-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.vertical-wrapper {
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.horizontal-wrapper {
  flex-flow: column nowrap;
  justify-content: space-around;
}

.horizontal-marquee {
  width: 100%;
}

.vertical-marquee {
  align-self: center;
  margin: auto;
  width: 25%;
  height: 100%;
}

.disable-default-wrapper {
  height: auto;
  width: 90%;
  margin: 0 auto;
}

.horizontal-marquee-disable-default__text {
  font-size: 2em;
}